@font-face {
  font-family: 'Metropolis Regular';
  src:
  url('./assets/fonts/metropolis-regular-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis Light';
  src:
  url('./assets/fonts/metropolis-light-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis black';
  src:
  url('./assets/fonts/metropolis-black-webfont.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Black';
  src:
  url('./assets/fonts/Raleway-Black.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src:
  url('./assets/fonts/Raleway-Bold.ttf') format('truetype');

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src:
  url('./assets/fonts/Raleway-Medium.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src:
  url('./assets/fonts/Raleway-Regular.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.padding {
  padding: 10px;
}
