.formContainer{
  margin-left: 50px;
}

.queryContainer{
  background-color: #ff0019;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 100vh;
}

@media(max-width: 992px){
  .queryContainer{
    display: none;
  }
}